[submodule "WoWLoginAutomator"]
	path = WoWLoginAutomator
	url = https://github.com/Jnnshschl/WoWLoginAutomator.git
[submodule "AmeisenPath"]
	path = AmeisenPath
	url = https://github.com/Jnnshschl/AmeisenPath.git